doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title New Zealand
		link(rel='stylesheet' type='text/css' href='css/normalize.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')
		link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,800')
	body
		main.general-content
			.wrapper
				h1.main-header.wrapper--small New Zealand
				p.main-subtitle.wrapper--small This project might be trickier than it seems. Look around carefully. What you see? The sky is blue, the grass is green. The sun shines through the window.
				.photo-container
					ul.photo-list
						li.photo-list__item
							.photo-list__mask.photo-list__mask--circle
								img.photo-list__img.photo-list__img--circle(src='img/1-1920.jpg' alt='Lake Wakatipu')
							.overlay
								span.close-popup
								.popup
									h1.main-header Lake Wakatipu
									.main-photo
										.main-photo__container
											img(src='img/1-640.jpg' alt='Lake Wakatipu'
											srcset='img/1-640.jpg 640w, img/1-1280.jpg 1280w, img/1-1920.jpg 1600w'
											sizes='(max-width: 1920px) 83.33333vw, (max-width: 480px) 95vw')
						li.photo-list__item
							.photo-list__mask.photo-list__mask--rectangle
								img.photo-list__img.photo-list__img--rectangle(src='img/2-1920.jpg' alt='Lake Wakatipu')
							.overlay
								span.close-popup
								.popup
									h1.main-header Lake Wakatipu
									.main-photo
										.main-photo__container
											img(src='img/2-1920.jpg' alt='Lake Wakatipu'
											srcset='img/2-640.jpg 640w, img/2-1280.jpg 1280w, img/2-1920.jpg 1600w'
											sizes='(max-width: 1920px) 83.33333vw, (max-width: 480px) 95vw')
						li.photo-list__item
							.photo-list__mask
								img.photo-list__img.photo-list__img--quadrate(src='img/3-1920.jpg' alt='Lake Wakatipu')
							.overlay
								span.close-popup
								.popup
									h1.main-header Lake Wakatipu
									.main-photo
										.main-photo__container
											img(src='img/3-1920.jpg' alt='Lake Wakatipu'
											srcset='img/3-640.jpg 640w, img/3-1280.jpg 1280w, img/3-1920.jpg 1600w'
											sizes='(max-width: 1920px) 83.33333vw, (max-width: 480px) 95vw')
						li.photo-list__item
							.photo-list__mask.photo-list__mask--triangle
								img.photo-list__img.photo-list__img--triangle(src='img/4-1920.jpg' alt='Lake Wakatipu')
							.overlay
								span.close-popup
								.popup
									h1.main-header Lake Wakatipu
									.main-photo
										.main-photo__container
											img(src='img/4-1920.jpg' alt='Lake Wakatipu'
											srcset='img/4-640.jpg 640w, img/4-1280.jpg 1280w, img/4-1920.jpg 1600w'
											sizes='(max-width: 1920px) 83.33333vw, (max-width: 480px) 95vw')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='js/common.js')